html {
    font-family: sans-serif;
    background-color: #edddc8;
  }

h1 {
  font-family: "Garet";
  /* color: #011d42; */
  font-size: xx-large;
}

h2 {
  font-family: "Times Neue Roman";
  font-style: italic;
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
/* Header */

header {
  background-color: #a5c3c2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

#logo {
  height: 150px;
  margin: 10px;

} 

nav a {
  font-family: "Helvetica", sans-serif;
  color: #efdc95;
  text-decoration: none;
  font-weight: bolder;
  padding: 8px 16px;
  border-right: 1px solid #efdc95;
  margin-top: 10px;
}

/* Index Sections */

.hero {
  align-items: center;
  background-color:#edddc8
}

.hero img {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: inline;
}
  

.story {
  background-color: #edddc8;
  color: #011d42;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story h1, p {
  margin: 20px;
  max-width: 90%;
}

.story img {
  width: 20%;
  margin: 20px;
}

.menu {
  background-color: #a5c3c2;
  background-image: url(img/backgroundfish);
  background-repeat: repeat-x;
  padding: 20px;
}

h3 {
  color: #011d42;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

#menu {
 background-color: #a5c3c2;
 color:#011d42;
 font-family: 'Times New Roman', Times, serif;
}

.merch {

}

.gallery {
  position: relative;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
}

.slides img {
  width: 50%;
  height: auto;
  margin: 5px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.controls button {
  margin: 5px;
  color: #011d42;
  background-color: #a5c3c2;
  border: none;
  border-radius: 15%;
  padding: 5px 10px;
}


/* #gallery {
  display: flex;
  flex-wrap: wrap;
}


#gallery img {
  width: 33%;
  height: auto;
  margin: 5px;
}

@media (max-width: 768px) {
  #gallery img {
    width: 50%;
  }
}

@media (max=width: 480px) {
  #gallery img {
    width: 100%;
  }
} */

footer {
  background-color: #a5c3c2;
  color: #011d42;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footinfo {

}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.design {
  justify-content: right;
  text-align: right;
}

/* Sales  */

.salesTable {
  padding: 20px;
  background-color: #011d42;
  color: #edddc8
}
  table {
    border-collapse: collapse;
    border: 2px solid #a5c3c2;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 20px;
    background-color: #011d42;
    color: #011d42;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }

  .newForm {
    padding: 20px;
    color:#011d42;

  }

#submitButton {
    margin: 5px;
    color: #011d42;
    background-color: #a5c3c2;
    border: none;
    border-radius: 15%;
    padding: 5px;
  }


  /* Locations */

  .location {
    display: grid;
    
    padding: 30px;
  }

  .location img {
    height: 250px;
  }